// Colours
$text: #10162f;
$bgColor: #FFF0E5;
$primary: #00ff9d;
$secondary: #f6f6f6;
$default: #fff;
$dark: #212121;
// fonts
$default-text: 'Ubuntu', sans-serif;
$heading-text: 'Poppins', sans-serif;
$secondary-text: 'Space Grotesk', sans-serif;