// Colours
$text: #10162f;
$bgColor: #fffafa;
$primary: #00ff9d;
$secondary: #d7d3d3;
$default: #fff;
$dark: #212121;
// fonts
$default-text: 'Ubuntu', sans-serif;
$heading-text: 'Poppins', sans-serif;
$secondary-text: 'Space Grotesk', sans-serif;