*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: auto;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%;
  color: #10162f;
  background-color: #ffffff;
  line-height: 1.6;
  transition: 700ms ease-in;
  overflow-x: hidden;
  word-wrap: break-word;
  text-align: justify;
}

a {
  color: #10162f;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

div,
button,
h1, h2, h3, h4, h5, h6,
span, p {
  margin: 0;
}

h1 {
  color: #00ff9d;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 0px #fff;
  letter-spacing: 8px;
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 1.2rem;
  }
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
}
@media only screen and (max-width: 800px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}

img {
  max-width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

input,
select,
textarea {
  font-family: "Space Grotesk", sans-serif;
  padding: 1rem 0.5rem;
  border: 1px solid #212121;
  color: #fff;
  resize: none;
}

button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem auto;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  background-color: #00ff9d;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 800px) {
  button {
    padding: 0.8rem;
  }
}
button:hover {
  background-color: #788fdb;
  box-shadow: -5px 5px #10162f;
  transition: 700ms ease-in-out;
  place-items: center;
}

nav {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  position: fixed;
  top: 0;
  padding-inline: 1rem;
  box-shadow: 1px 1px;
  z-index: 10;
  margin: 0;
}
@media only screen and (max-width: 800px) {
  nav {
    justify-content: space-between;
    padding: 0.5rem;
  }
}
nav .site-title {
  color: #00ff9d;
}
nav ul {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 2rem;
}
@media only screen and (max-width: 800px) {
  nav ul {
    display: none;
    flex-direction: column;
  }
}
nav li {
  text-transform: uppercase;
  align-self: center;
}

.bars, .close {
  font-size: 1.2rem;
  display: none;
}
@media only screen and (max-width: 800px) {
  .bars, .close {
    display: block;
  }
}

#mNav {
  display: none;
  height: 100%;
  background-color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  position: fixed;
  box-shadow: 1px 1px;
  z-index: 100;
}
@media only screen and (max-width: 800px) {
  #mNav {
    display: none;
    width: 80%;
    padding: 1rem 2rem;
    inset: 0 20% 0 0;
  }
}
#mNav .close {
  font-size: 1.6rem;
  position: relative;
  right: -100%;
}
#mNav ul {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 60vh;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  margin-top: 5rem;
}
#mNav li {
  text-transform: uppercase;
  align-self: center;
}

#header {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  height: 100vh;
  margin-top: 3rem;
}
@media only screen and (max-width: 800px) {
  #header {
    flex-direction: column-reverse;
    width: 100%;
  }
}
#header > div {
  width: 60%;
}
@media only screen and (max-width: 800px) {
  #header > div {
    width: 80%;
  }
}
#header #headerImg {
  width: 40%;
}
@media only screen and (max-width: 800px) {
  #header #headerImg {
    width: 80%;
  }
}

#division {
  margin-block: 5rem;
}
#division > div {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-items: flex-start;
  padding: 2rem;
}
@media only screen and (max-width: 800px) {
  #division > div {
    width: 100%;
    gap: 3rem;
    flex-direction: column-reverse;
  }
}
#division > div > div {
  flex: 1;
}

section {
  background-color: #00ff9d;
  margin-block: 5rem;
}
section > div {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
  padding: 2rem;
}
@media only screen and (max-width: 800px) {
  section > div {
    width: 100%;
    gap: 3rem;
    flex-direction: column;
  }
}
section > div button {
  background-color: #fff;
  color: #10162f;
}

#steps {
  margin-block: 2rem;
  background-color: #00ff9d;
  margin-block: 5rem;
}
#steps .step1 {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 800px) {
  #steps .step1 {
    width: 100%;
    gap: 3rem;
    flex-direction: column;
  }
}
#steps > div {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  padding: 2rem;
  gap: 3rem;
}
@media only screen and (max-width: 800px) {
  #steps > div {
    flex-direction: column;
    width: 100%;
  }
}
#steps > div > div {
  flex: 1;
}
#steps > div .steps > div {
  padding: 2rem;
}
#steps .step-icons {
  font-size: 4rem;
}
#steps .FaAngleDoubleRight {
  font-size: 5rem;
}
@media only screen and (max-width: 800px) {
  #steps .FaAngleDoubleRight {
    font-size: 3rem;
    display: none;
  }
}
#steps .FaAngleDoubleDown {
  display: none;
  font-size: 5rem;
}
@media only screen and (max-width: 800px) {
  #steps .FaAngleDoubleDown {
    font-size: 3rem;
    display: block;
  }
}

#form {
  margin-block: 2rem;
  padding: 2rem;
}
@media only screen and (max-width: 800px) {
  #form {
    padding: 0.5rem;
  }
}
#form > div {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 800px) {
  #form > div {
    flex-direction: column;
  }
}
#form > div > div {
  flex: 1;
}
#form #form-data {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px dashed #212121;
  padding: 1rem;
}
@media only screen and (max-width: 800px) {
  #form #form-data {
    width: 100%;
  }
}
#form #form-data input, #form #form-data textarea {
  width: 85%;
  color: #212121;
}
@media only screen and (max-width: 800px) {
  #form #form-data input, #form #form-data textarea {
    width: 100%;
  }
}
#form #form-data #resultLink {
  width: 85%;
  padding: 1rem;
  border: 1px dashed #212121;
}
#form #form-data a {
  text-transform: lowercase;
  color: blue;
}
#form #form-data p {
  color: red;
  text-align: justify;
}

footer {
  margin-top: 5rem;
  background-color: #00ff9d;
  padding: 2rem;
}

#footer {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  align-items: flex-start;
  margin: 2rem auto 10rem auto;
}
@media only screen and (max-width: 800px) {
  #footer {
    flex-direction: column;
  }
}
#footer > div {
  flex: 1;
}
#footer a {
  text-transform: none;
}
#footer h4 {
  font-size: 1rem;
  text-transform: uppercase;
}

.endNote {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  justify-content: space-around;
}
.endNote p {
  font-size: 1rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .endNote {
    flex-direction: column-reverse;
    gap: 0;
    padding: 1rem;
  }
}/*# sourceMappingURL=style.css.map */