@import './variables';

@mixin flex($direction){
    margin: auto;
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
@mixin mobile {
    @media only screen and (max-width: 800px){
        @content;
    }
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    margin: auto;
    scroll-behavior: smooth;
    font-family: $default-text;
    width: 100%;
    height: 100%;
    color: $text;
    background-color: $bgColor;
    line-height: 1.6;
    transition: 700ms ease-in;
    overflow-x: hidden;
    word-wrap: break-word;
    text-align: justify;
}
a{
    color: $text;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
div,
button,
h1,h2,h3,h4,h5,h6,
span,p{
    margin: 0;
}
h1{
    color: $primary;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: $heading-text;
    text-shadow: 1px 1px 0px $default;
    letter-spacing: 8px;
}
h2{
    font-family: $heading-text;
    font-size: 2rem;
    text-transform: uppercase;
    @include mobile{
        font-size: 1.6rem;
    }
}
h3{
    font-family: $secondary-text;
    font-size: 1.2rem;
}
h4{
    font-size: 1.4rem;
}
p{
    font-size: 1.2rem;
    font-family: $default-text;
}
img{
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    display: block;
}
input, 
select,  
textarea{
    font-family: $secondary-text;
    padding: 0.8rem 3rem;
    border: solid $dark;
    border-radius: 0.5rem;
    color: $default;
    text-transform: uppercase;
    resize: none;
}
button{
    width: max-content;
    margin: 1rem auto;
    font-family: $secondary-text;
    font-size: 1rem;
    background-color: $primary;
    color: $default;
    padding: 0.8rem 1.5rem;
    border: none;
    text-transform: uppercase;
    @include mobile{
        padding: 0.8rem;
    }

    &:hover{
        background-color: #788fdb;
        box-shadow: -5px 5px $text;
        transition: 700ms ease-in-out;
        place-items: center;
    }
}
nav{
    width: 100%;
    background-color: $bgColor;
    font-family: $secondary-text;
    position: fixed;
    top: 0;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 1px 1px;
    z-index: 10;
    margin: 0;

    ul{
        @include flex(row);
        gap: 2rem   ;
    }
    li{
        text-transform: uppercase;
        align-self: center
    }
}
#header{
    @include flex(row);
    width: 80%;
    height: 100vh;
    margin-top: 3rem;
    
    > div{
      width: 60%;  
      @include mobile{
        width: 80%;
    }
    }

    #headerImg{
        width: 40%;
        @include mobile{
            width: 80%;
        }
    }
    

}

#division{
    margin-block: 5rem;

    > div{
        width: 80%;
        @include flex(row);
        align-items: flex-start; 
        padding: 2rem; 
        
        >div{
            flex: 1;
        }
    }
}
section{
    background-color: $primary;
    margin-block: 5rem;

    > div{
        width: 80%;
        @include flex(row);
        justify-content: space-around;
        padding: 2rem;
    
        button{
            background-color: $default;
            color: $text;
        }
    }

}


#steps{
    margin-block: 2rem;
    background-color: $primary;
    margin-block: 5rem;

    .test{
        @include flex(row);
    }

    > div{
        @include flex(row);
        width: 80%;
        padding: 2rem;
        gap: 3rem;
        @include mobile{
            flex-direction: column;
        }
        >div{
            flex: 1;
        }
        .steps{
            > div{
            padding: 2rem;
        }
        }
    }

    .step-icons{
        font-size: 4rem;

    }

    .FaAngleDoubleRight{
        font-size: 5rem;
    }
}

#form{
    margin-block: 5rem;

    >div{
        @include flex(row);

        @include mobile{
            flex-direction: column;
        }

        >div{
            flex: 1;
        }
    }

    #form-data{
        @include flex(column);
        border: 1px dashed $dark;

        input, textarea{
            width: 80%;
            color: $dark;
        }

        a{
            text-transform: lowercase;
            color: blue;
        }
    }
}

footer{
    margin-top: 5rem;
    background-color: $primary;
    padding: 2rem;
}

#footer{
    @include flex(row);
    flex-wrap: wrap;
    width: 80%;
    align-items: flex-start;
    margin: 2rem auto 10rem auto;

    >div{
        flex: 1;
    }

    h4{
        font-size: 1rem;
        text-transform: uppercase;
    }

    p{
        font-size: 1rem;
    }
}
.endNote{
    @include flex(row);
    text-align: justify;
    justify-content: space-around;
    p{
        font-size: 1rem;
        text-align: center;
    }
    @include mobile{
        flex-direction: column-reverse;
        gap: 0;
        padding: 1rem;
    }
}